* {
  display: flex;
}

body {
  background-color: #e5e5e5;
}

.registrationLoginPage {
  position: relative;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.homePageText {
  /* display: flex; */
  align-items: center;
  text-align: center;
  /* font-family: Poppins; */

  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;

  color: #000000;
  margin-left: 200px;
  margin-bottom: 77px;
}

.homePageSvgElipse1 {
  /* display: flex; */
  position: absolute;
  top: 50%;
  right: 15%;
  overflow: hidden;
  width: 618px;
  height: 547px;
}

.homePageSvg {
  /* display: flex; */
  align-items: center;
  text-align: center;
}

.homePageSvgRectangle3 {
  margin-right: 0;
  margin-left: auto;
  width: 420px;
  height: 720px;
}
