.container {
    width: 100%;
    max-width: 785px;
    border-left: none;
    background: transparent;
}

.tableHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 30px;
    background: #ffffff;
    list-style: none;
}

.tableHeadText {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.tableRowList {
    list-style: none;
}

.tableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #DCDCDF;
    background: transparent;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.tableRowText {
    width: 100%;
    max-width: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2px;
}

.tableRowCategorie {
    width: 100%;
    max-width: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.tableRowComment {
    width: 100%;
    max-width: 118px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 767px) {
    .container{
        width: 280px;
        display: inline-flex;
        justify-content: space-between;
        margin-top: 29px;
        background: transparent;
        border-radius: 10px;
        box-shadow: inherit;
    }

    .tableHead{
        display: none;
    }

    .tableRow{
        display: none;
    }

    .tableRowList {
        margin-bottom: 10px;
    }

    .mobileTableRow {
        padding: 0;
    }

    .mobileTableRowItemsContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 15px;
        border: 1px solid #DCDCDF;
    }

    .tableRowContainer {
        border-left: 5px solid #FF6596;
        border-radius: 10px;
        background-color: #ffffff;
    }

    .tableRowContainer:not(:last-child) {
        margin-bottom: 10px;
    }

    .tableRowText {
        text-align: right;
    }

    .tableRowCategorie {
        text-align: right;
    }

    .tableRowComment {
        text-align: right;
    }
}

@media(min-width:768px) and  (max-width:1279px) {
    .container{
        max-width: 768px;
        padding-top: 45px;
        padding-right: 40px;
        border-left: none;
        background: transparent;
        margin: 0 auto;
        padding-left: 40px;
    }

    .mobileTableRow {
        display: none;
    }

    .tableRowText {
        text-align: right;
    }

    .tableRowCategorie {
        text-align: left;
    }

    .tableRowComment {
        text-align: left;
    }
}

@media(min-width: 1280px) {
    .container {
        padding-top: 45px;
        padding-right: 85px;
    }

    .mobileTableRow {
        display: none;
    }

    .tableRowText {
        text-align: left;
    }

    .tableRowCategorie {
        text-align: left;
    }

    .tableRowComment {
        text-align: left;
    }
}

/* .tableHead{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border-radius: inherit;
    background-color: inherit;
    border-left: 5px solid #FF6596;
} */