.nav {
  display: flex;
  max-height: 30px;
  margin-right: 15p;
  font-size: 20px;
  font-style: oblique;
  text-decoration: none;
  justify-content: flex-start;
}

.nav > item {
  margin: 10px;
  border-radius: 2px;
  border: 2px solid white;
  text-decoration: none;
  background-color: teal;
}

.NavLink-active {
  color: red;
  text-decoration: none;
}

.NavLink, a {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px #097f86;
  cursor: pointer;
  min-width: 100px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 6px;
}

nav > a {
  margin: 0 15px 0 0;
}

a:hover {
  color:  red;
  box-shadow: 0 0 5px 2px rgb(255, 0, 89);
}
