.container {
    width: 100%;
    padding-top: 40px;
    padding-right: 85px;
}

.actionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
}

.budgetContainer {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    text-align: center;
}

.button {
    display: block;
    width: 100%;
    max-width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    background: #24cca7;
    text-transform: uppercase;
}

.form {
    width: 100%;
    /* max-width: 351px; */
    margin-bottom: 20px;
}

.form :not(:last-child) {
    margin-right: 18px;
}

.formSelect {
    width: 100%;
    max-width: 166px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 21px;
    border: 1px solid #000000;
    border-radius: 30px;
    outline: none;
}

.formMonthOptions {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.budgetTitle {
    margin-bottom: 20px;
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
}

.budgetList {
    margin-bottom: 20px;
    list-style-type: none;
    text-align: left;
}

/* .budgetList :not(:last-child) {
    margin-bottom: 10px;
} */

.budgetListItem {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #DCDCDF;
    background: transparent;
    box-shadow: 0px 1px 0px rgb(255 255 255 / 60%);
}

.budgetItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.budgetItemPlanAmmount {
    color: #4A56E2;;
}

.summaryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}

.summaryAmountOverspent {
    color: #FF6596;
}

.summaryAmountRegular {
    color: #24CCA7;
}