.container {
  width: 100%;
}

.budgetContainer {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  text-align: center;
}

.form {
  width: 100%;
  margin-bottom: 20px;
}

.formSelect {
  width: 100%;
  max-width: 166px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 21px;
  border: 1px solid #000000;
  border-radius: 30px;
  outline: none;
}

.formSelect:hover {
  cursor: pointer;
}

.formMonthOptions {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.budgetTitle {
  margin-bottom: 20px;
  display: inline-block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
}

.budgetList {
  margin-bottom: 20px;
  list-style-type: none;
  text-align: left;
}

.budgetListItem {
  border-bottom: 1px solid #dcdcdf;
  background: transparent;
  box-shadow: 0px 1px 0px rgb(255 255 255 / 60%);
}

.budgetItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.budgetItemPlanAmmount {
  color: #4a56e2;
}

.summaryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.summaryAmountOverspent {
  color: #ff6596;
}

.summaryAmountRegular {
  color: #24cca7;
}

@media (max-width: 767px) {
  .container {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .actionsContainer {
    margin-bottom: 20px;
    text-align: center;
  }

  .actionsContainer :not(:last-child) {
    margin-bottom: 10px;
  }

  .form :not(:last-child) {
    margin-bottom: 10px;
  }

  .budgetListItem {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .budgetItemContainer > div {
    display: inline-block;
    width: 85%;
    background: #ffffff;
  }
}

@media (min-width: 768px) {
  .actionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
  }

  .form :not(:last-child) {
    margin-right: 18px;
  }

  .budgetListItem {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .budgetItemContainer > div {
    display: inline-block;
    width: 93%;
    background: #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-top: 40px;
    padding-right: 42px;
    padding-left: 42px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-top: 40px;
    padding-right: 85px;
  }
}
