.container {
  display: inline-block;
  width: 100%;
  background: transparent;
}

@media (max-width: 767px) {
  .container {
    padding-top: 13px;
    text-align: center;
  }

  .tabletContainer {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
   padding-top: 35px;
   padding-right: 40px;
   padding-left: 40px;
  }

  .tabletContainer {
    display: inline-block;
    width: 100%;
    max-width: 332px;
    margin-right: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 465px;
    height: 734px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 85px;
    margin-right: 30px;
    border-right: 1px solid #E7E5F2;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05), 1px 0px 0px rgba(255, 255, 255, 0.6);
  }
}