.container {
  display: inline-block;
  width: 100%;
  max-width: 465px;
  height: 734px;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 85px;
  margin-right: 30px;
  border-right: 1px solid #E7E5F2;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05), 1px 0px 0px rgba(255, 255, 255, 0.6);
  /* background: transparent; */
  background-image: url(./images/Ellipse1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: -10%;
  background-position-y: 120%;
}