.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.input {
  width: 410px;

  border: none;

  padding-bottom: 10px;
  color: #bdbdbd;

  outline: none;
  border: none;
}
.label {
  line-height: 27px;
  margin-bottom: 40px;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 10px;
}
.input_email {
  background-image: url(./Email.svg);
  width: 21px;
  height: 16px;
  margin-right: 10px;
}
.input_password {
  background-image: url(./Password.svg);
  width: 16px;
  height: 21px;
  margin-right: 14px;
}
.input_name {
  background-image: url(./Name.svg);
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.progresBarBox{
background-color: #fff;
  appearance: none;
  width: 250px;
  height: 8px;


}
.button_registr {
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: #24cca7;
  border: none;
  border-radius: 20px;
  border-color: #24cca7;

  /* font-family: Circe;
  font-style: normal;
  font-weight: normal; */
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}
.button_entrance {
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  background: #ffffff;
  border: 1px solid #4a56e2;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 60px;
}
.button_entrance > a {
  /* font-family: Circe;
  font-style: normal;
  font-weight: normal; */
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;

  color: #4a56e2;
}

.formik {
  color: red;
  margin: 0;
  position: absolute;
  left: 177px;
  top: -83px;
}

.formik_container {
  position: relative;
}

/* медіа правила */

@media (max-width: 767px) {
  .container {
    max-width: 320;
    padding: 0;
  }

  .formik {
    position: relative;
    left: 216px;
    top: -74px;
  }

  .logo {
    padding-top: 100px;
    padding-bottom: 52px;
  }

  .form {
    width: 320;
    border-radius: 0;
    padding: 0px 20px;
  }

  .input_email {
    background-repeat: no-repeat;
    width: 39px;
  }

  .input_password {
    background-repeat: no-repeat;
    width: 39px;
  }

  .input_name {
    background-repeat: no-repeat;
    width: 39px;
  }

  .button_entrance {
    width: 280px;
    height: 50px;
    margin-bottom: 110px;
  }

  .button_registr {
    width: 280px;
    height: 50px;
  }
}

.progresBar {
  position: relative;
  top: -41px;
  height: 5px;
  background-color: #fee6d5;
  margin-bottom: 15px;
  border-radius: 2px;
}

.progresBarFilter {
  background: rgba(36, 204, 167, 0.5);
  height: 100%;
  border: 1px solid rgba(36, 204, 167, 0.5);

  transition: width 0.2s ease-in;
  border-radius: 2px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 0 25px;
  }
  .form {
    max-width: 540px;
    padding: 0 65px;
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 3;
  }

  .input__email {
    width: 410px;
    height: 34px;

    margin-bottom: 35px;
  }

  .input__password {
    width: 410px;
    height: 34px;
    margin-bottom: 45px;
  }

  .button__submit {
    width: 300px;
    height: 50px;
  }

  .button__registration {
    width: 300px;
    height: 50px;
  }
}

@media (min-width: 1280px) {
  .container {
    display: inline-block;
    padding: 52px 85px 52px 95px;
    max-width: 720px;
    background-image: url(./gradient.png);
    background-repeat: no-repeat;
    height: 720px;
  }
  .form {
    max-width: 540px;
    padding: 0 65px;
    border-radius: 20px;
    /* position: inherit; */
  }

  .input__email {
    width: 410px;
    height: 34px;

    margin-bottom: 35px;
  }

  .input__password {
    width: 410px;
    height: 34px;
    margin-bottom: 45px;
  }

  .button__submit {
    width: 300px;
    height: 50px;
  }

  .button__registration {
    width: 300px;
    height: 50px;
  }
}
