* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 30px 20px;
}

.active {
  color: #ffa848;
}

.form {
  background-color: #fff;
  display: flex;
  margin: auto;
  max-width: 540px;

  flex-direction: column;
  align-items: center;
  height: auto;
}

.input__email {
  background-image: url(./images/email.png);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 8px;
  padding-left: 50px;
  color: #bdbdbd;
  font-size: 15px;

  outline: none;
  border: none;
  border-bottom: 2px solid #e0e0e0;
}

.input__password {
  background-image: url(./images/lock.png);

  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 3px;
  padding-left: 50px;

  font-size: 15px;

  outline: none;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  
}

.button__submit {
  
  text-decoration: none;
  color: #fff;
  background: #24cca7;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.button__registration {
  text-align: center;
  align-items: baseline;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  padding-top: 13px;
  color: #4a56e2;
  border: none;
  background: #ffffff;
  border: 1px solid #4a56e2;
  border-radius: 20px;
  margin-bottom: 60px;
}

.button:hover,
.button:focus {
  color: #fff;
  transition: all 0.2s linear;
}

@media (max-width: 767px) {
  .container {
    max-width: 320;
    padding: 0;
  }

  .logo {
    padding-top: 100px;
    padding-bottom: 52px;
  }

  .form {
    width: 320;
    border-radius: 0;
    padding: 0px 20px;
  }

  .input__email {
    width: 280px;
    height: 34px;
    margin-bottom: 30px;
  }

  .input__password {
    width: 280px;
    height: 34px;
    margin-bottom: 45px;
  }

  .button__submit{
    width: 280px;
    height: 50px;
  }

  .button__registration{
    width: 280px;
    height: 50px;
    margin-bottom: 110px;
  }
}

@media (min-width: 768px) {

  .container{
    padding: 0 25px;
  }
  .form {
    max-width: 540px;
    padding: 0 65px;
    border-radius: 20px;
    position: absolute;
    top: 362px;
    left: 110px;
    z-index: 3;
  }

  .input__email {
    width: 410px;
    height: 34px;

    margin-bottom: 35px;
  }

  .input__password {
    width: 410px;
    height: 34px;
    margin-bottom: 45px;
  }

  .button__submit {
    width: 300px;
    height: 50px;
  }

  .button__registration {
    width: 300px;
    height: 50px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 136px 85px 116px 95px;
    max-width: 720px;
    background-image: url(./images/gradient.png);
    background-repeat: no-repeat;
  }
  .form {
    max-width: 540px;
    padding: 0 65px;
    border-radius: 20px;
    position: inherit;
  }

  .input__email {
    width: 410px;
    height: 34px;

    margin-bottom: 35px;
  }

  .input__password {
    width: 410px;
    height: 34px;
    margin-bottom: 45px;
  }

  .button__submit {
    width: 300px;
    height: 50px;
  }

  .button__registration {
    width: 300px;
    height: 50px;
  }
}
