@import url(../../utils/cssVaribles.css);

.container {
  width: 100%;
}

.links,
.budgetLinks,
.reportsLinks {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.links:hover,
.budgetLinks:hover,
.reportsLinks:hover {
  color: #4a56e2;
}

.activeLinks {
  font-weight: 700;
}

.navList,
.navBottomList {
  width: 100%;
  list-style-type: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4a56e2;
}

.iconContainer > svg {
  display: inline-block;
  fill: #ffffff;
}

.budgetLinks > svg,
.reportsLinks > svg {
  fill: #4a56e2;
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .navTitle {
    display: none;
  }

  .navList,
  .navBottomList {
    display: flex;
    justify-content: space-around;
    padding-bottom: 14px;
  }

  .navList {
    padding-left: 45px;
    padding-right: 45px;
  }

  .navBottomList {
    padding-left: 90px;
    padding-right: 90px;
  }

  .iconWrapper {
    width: 38px;
    height: 38px;
  }

  .iconContainer {
    max-width: 38px;
    max-height: 38px;
    border-radius: 5px;
  }

  .iconContainer > svg {
    max-width: 30px;
    max-height: 30px;
  }

  .budgetLinks > svg,
  .reportsLinks > svg {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .navList,
  .navBottomList {
    display: inline-block;
    width: 140px;
  }

  .navTitle {
    display: inline-block;
  }

  .navLastItem {
    display: none;
  }

  .iconWrapper {
    width: 30px;
    height: 30px;
    padding: 4px;
    margin-right: 17px;
  }

  .iconContainer {
    max-width: 22px;
    max-height: 22px;
    border-radius: 3px;
  }

  .iconContainer > svg {
    max-width: 18px;
    max-height: 18px;
  }

  .budgetLinks > svg,
  .reportsLinks > svg {
    width: 28px;
    height: 28px;
    margin-right: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .navList {
    margin-bottom: 30px;
  }

  .navItem,
  .budgetNavItem {
    display: inline-block;
    max-width: 131px;
  }
}
