@import url(../../utils/cssVaribles.css);

.container {
  width: 100%;
}

.links {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.links:hover {
  color: #4a56e2;
}

.activeLinks {
  font-weight: 700;
}

.navLastItem {
  /* margin-top: 13px; */
}
.navList {
  width: 100%;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .navTitle {
    display: none;
  }

  .navList {
    display: flex;
    justify-content: space-around;
    padding-bottom: 14px;
    padding-left: 90px;
    padding-right: 90px;

  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .navList {
    display: inline-block;
    max-width: 140px;
  }

  .navTitle {
    display: inline-block;
  }

  .navLastItem {
    display: none;
  }

  .navItem:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .navItem {
    margin-bottom: 10px;
  }

  .navList {
    margin-bottom: 30px;
  }
}
