.container {
    width: 100%;
    max-width: 815px;
    background: transparent;
}

@media (max-width: 767px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .container {
        display: flex;
        justify-content: space-between;
        padding-right: 23px;
        padding-left: 40px;
    }
}

@media (min-width: 1280px) {
    .container {
        display: inline-flex;
        padding-top: 30px;
    }
}