.button {
  display: block;
  width: 100%;
  max-width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background: #24cca7;
  text-transform: uppercase;
}

.button:hover {
  border: 1px solid #4a56e2;
  background: transparent;
  color: #000000;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

@media (max-width: 767px) {
  .button {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .button {
    display: block;
  }
}
