:root {
    --primaryColor: #4A56E2;
    --secondaryColor: #24CCA7;
    --expanceColor: #FF6596;
    --textColor: #000000;
    --primaryButtonTextColor: #FFFFFF;
    --secondaryButtonTextColor: #4A56E2;
}
