.navIcons {
  width: 100%;
  max-width: 38px;
  max-height: 38px;
}
@media screen and (min-width: 768px) {
  .navIcons {
    max-width: 18px;
    max-height: 18px;
  }
}

a .navIcons:hover {
  fill: #4a56e2;
}
