.containerloginPages {
    max-width: 1280px;
    margin: 0 auto;
}

.loginPages {
    position: relative;
    background: #e5e5e5;
    z-index: 1;
}

.loginPageName {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

@media (max-width: 767px) {
    .loginPages {
        display: none;
    }
}

@media (min-width: 768px) {
    .containerloginPages {
        max-width: 768px;
        position: relative;
    
    }

    .loginPages {
        padding-bottom: 511px;
    }

    .loginPagesImg {
        display: none;
    }

    .logiPagedoxImg2 {
        position: relative;
        left: 50px;
    }

    .logiPagedoxImg1 {
        position: relative;
        left: 100px;
        bottom: 180px;
    }

    .loginPageVrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 618px;
        min-height: 449px;
        background-image: url(../../../utils/images/backgroud.png);
        background-repeat: no-repeat;
        z-index: -1;
    }

    .loginPageName {
        position: absolute;
        right: 10%;
        top: 16%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1280px) {
    .containerloginPages {
        display: flex;
        max-width: 1280px;
    }
    
    .loginPages {
        width: 560px;
        height: 720;
        padding: 0;
        z-index: 1;
    }

    .loginPageVrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 618px;
        min-height: 449px;
        background-image: url(../../../utils/images/backgroud.png);
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    .loginPagesImg {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 150px;
        z-index: 1;
    }

    .loginPageName {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 615px;
        margin: 0;
    }

    .logiPagedox {
        display: none;
    }
}