.container {
    background-color: #e5e5e5;
    text-align: center;
}
.headTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}

@media (max-width: 767px) {
    .container {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .container {
        position: relative;
    }

    .headContainer {
        background-color: #e5e5e5;
        text-align: right;
    }

    .headImg1 {
        position: relative;
        top: -175px;
        left: 8%;
        display: inline-block;
        width: 100%;
        max-width: 274px;
    }

    .headImg2 {
        display: inline-block;
        width: 100%;
        max-width: 456px;
        height: 486px;
    }

    .desktopImg {
        display: none;
    }

    .headTitle {
        position: absolute;
        top: 14%;
        left: 54%;
        display: inline-block;
    }

    .bottomBackgroundImg {
        position: relative;
        top: -25%;
        left: -9.6%;
        display: inline-block;
        width: 100%;
        max-width: 618px;
        min-height: 517px;
        background-image: url(./images/backgroud.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1280px) {
    .container {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 560px;
        padding-top: 153px;
    }

    .headImg1 {
        display: none;
    }

    .headImg2 {
        display: none;
    }

    .desktopImg {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: 100%;
        max-width: 410px;
    }

    .headTitle {
        position: relative;
    }

    .bottomBackgroundImg {
        position: absolute;
        top: 69%;
        left: 44.4%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 100%;
        max-width: 500px;
        min-height: 450px;
        background-image: url(./images/backgroud.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}