.dashboardContainer {
  width: 100%;
  max-width: 1280px;
  margin: auto auto;
  background-color: #e5e5e5;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .dashboardContainer {
    width: 100%;
    min-height: 508px;
    text-align: center;
  }

  .tableContainer {
    padding-top: 45px;
    align-items: center;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .dashboardContainer {
    max-width: 768px;
    min-height: 944px;
    max-width: 768px;
    background-image: url(./images/dashboardBackgroundTablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .buttonsContainer {
    padding-left: 60px;
  }
}

@media (min-width: 1280px) {
  .dashboardContainer {
    display: flex;
    align-items: flex-start;
    background-image: url(./images/dashboardBackgroundPc.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .buttonsContainer {
    justify-content: space-between;
    width: 91%;
  }

  .tableContainer {
    padding-top: 45px;
    padding-right: 40px;
  }
}
