.dashboardContainer {
    width: 100%;
    max-width: 1280px;
    margin: auto auto;
    background-color: #e5e5e5;
}

@media (max-width: 767px) {
    .dashboardContainer {
        width: 320px;
        min-height: 508px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .dashboardContainer {
        max-width: 768px;
        min-height: 944px;
        max-width: 768px;
        background-image: url(./images/dashboardBackgroundTablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 1280px) {
    .dashboardContainer {
        display: flex;
        align-items: flex-start;
        background-image: url(./images/dashboardBackgroundPc.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}