.userMenuContainer {
  width: 320px;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  line-height: 1.5;
  height: 60px;
  margin: 0 auto;
}

.title {
  padding: 0px 20px 0 0;
}

.logo_container {
  width: 129px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  margin: 0;
}

.name {
  font-weight: 400;
  font-size: 18px;

  color: #bdbdbd;
}

.avatar {
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 50%;
}

.containerLogout {
  max-width: 250px;
  display: flex;
}

.btnLogout {
  color: #bdbdbd;
  border: none;
  border-radius: 10px;
  background-color: inherit;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.btnLogout:hover {
  color: #111111;
  background-color: #24cca7;
}
.logoutTitle {
  display: none;
}

.verticalLine {
  display: none;
  height: 30px;
  width: 1px;
  margin: 0 10px 0 17px;

  color: #bdbdbd;
  background-image: url(./Vector.svg);
}

.exitSvg {
  display: flex;
  width: 18px;
  height: 18px;
  color: #bdbdbd;
  background-image: url(./exit.svg);
}

@media screen and (min-width: 768px) {
  .userMenuContainer {
    width: 768px;
    height: 80px;
    padding: 0 40px 0 40px;
  }

  .logo_container {
    width: 181px;
  }

  .title {
    font-size: 30px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .logoutTitle {
    display: inline-block;
  }

  .verticalLine {
    display: flex;
  }

  .exitSvg {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .userMenuContainer {
    width: 1280px;
    padding: 0 80px 0 80px;
  }
}
